* {
  margin: 0;
}
body {
  font-family: "helvetia", Arial, sans-serif;
  background-color: #e4dfd2;
}
img {
  object-fit: cover;
  overflow: hidden;
  border-radius: 0.5rem;
}
a {
  text-decoration: none;
  color: white;
}
h1,
h2 {
  font-family: "finger paint";
  color: #b14a0c;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 8rem;
  background-color: #b14a0c;
  width: 100%;
}
.header__bloc {
  padding-left: 2rem;
  font-size: 3rem;
  color: white;
  display: flex;
  align-items: center;
}
.header__titre {
  font-family: "finger paint";
}
.nav {
  display: flex;
  align-items: center;
  padding-right: 2rem;
  padding-top: 1rem;
}
.nav__lien {
  margin-right: 2rem;
}
.nav__lien:hover {
  font-weight: bold;
}
.nav__retour {
  padding-right: 2rem;
  font-size: 1.5rem;
  padding-bottom: 1rem;
  font-family: "Neucha";
  font-weight: bold;
}
.nav__panier {
  display: flex;
  justify-content: center;
}
.nav__logo {
  font-size: x-large;
}
.main {
  display: flex;
  justify-content: center;
}
.main__titre {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.main__article {
  background-color: white;
  border-radius: 0.5rem;
  margin: 0 1rem 2rem;
  padding: 1.5rem;
}
#cameraImg {
  width: 100%;
}
.main__camera {
  display: flex;
  justify-content: center;
}
.article__camera {
  display: flex;
  flex-direction: column;
}
.article__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}
.article__nom {
  margin-top: 1.2rem;
  padding-left: 0.5rem;
}
.article__prix {
  font-weight: bold;
  background-color: #e4dfd2;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: black;
}
.article__description {
  font-weight: 400;
  color: black;
  font-family: "neucha";
  text-align: justify;
}
.select {
  margin-top: 1.5rem;
  padding: 0.5rem;
  border: 0.1rem solid #b14a0c;
}
.basket {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.basket__produit {
  border: 3px solid #b14a0c;
  padding: 1rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.basket__list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-bottom: 2rem;
  align-items: center;
  justify-items: center;
}
.camera__img {
  margin-right: 1rem;
}
.camera__name {
  margin-right: 1rem;
}
.camera__lens {
  margin-right: 1rem;
}
.camera__price {
  margin-right: 1rem;
}
.camera__totalPrice {
  margin-top: 2rem;
}
.titre__commande {
  margin-top: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}
.form {
  border: 3px solid #b14a0c;
  padding: 2rem;
  border-radius: 2rem;
}
.form__contact {
  display: flex;
  flex-direction: column;
}

.form__label {
  margin: 1rem;
  display: flex;
  flex-direction: column;
}
.form__error {
  color: red;
  display: none;
}
.form__input {
  border-radius: 2rem;
  padding: 0.3rem;
  margin-top: 0.5rem;
}
input:invalid {
  border: 2px solid red;
}

input:valid {
  border: 1px solid black;
}
.btn {
  display: flex;
  justify-content: center;
}
.btn__commander {
  background-color: #b14a0c;
  color: white;
  text-align: center;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-top: 2rem;
  transition: all 1s ease;
  font-size: large;
}
.btn__commander:hover {
  transform: scale(1.15);
}
.btn__deleteBasket {
  margin-top: 1rem;
}
.footer {
  background-color: #b14a0c;
  width: 100%;
  margin-top: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.footer__liste {
  list-style-type: none;
  color: white;
  font-family: "neucha";
  line-height: 2rem;
  font-size: 1.5rem;
}
.footer__social {
  color: white;
  font-size: x-large;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 3rem;
  margin-top: 2rem;
}
.fas {
  margin-right: 1rem;
}
.fas,
.fab {
  margin-bottom: 1rem;
}
.order {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.order__text {
  margin-top: 2rem;
}
.order__font {
  font-weight: bold;
}

@media screen and (min-width: 710px) {
  .main__article {
    width: 72%;
    align-self: center;
    justify-self: center;
  }
  .main__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5rem;
  }
  .camera__img {
    margin-right: 0rem;
  }
  .camera__name {
    margin-right: 0rem;
  }
  .camera__lens {
    margin-right: 0rem;
  }
  .camera__price {
    margin-right: 0rem;
  }

  .form__contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1024px) {
  .header__bloc {
    font-size: 2rem;
  }
  .main__grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .order {
    margin-top: 7rem;
  }
  .footer {
    margin-top: 10rem;
  }
  .footer__social {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
