* {
  margin: 0;
}
body {
  font-family: "helvetia", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e4dfd2;
}
img {
  object-fit: cover;
  overflow: hidden;
  border-radius: 0.5rem;
}
a {
  text-decoration: none;
  color: #e4dfd2;
}
h1,
h2 {
  font-family: "finger paint";
  color: #b14a0c;
}

.header {
  display: flex;
  height: 8rem;
  background-color: #b14a0c;
}
.header__bloc {
  padding-top: 1.3rem;
  padding-left: 2rem;
}
.header__logo {
  width: 45%;
}
.nav {
  display: flex;
  align-items: center;
  padding-right: 2rem;
}
.nav__lien {
  margin-right: 2rem;
}
.nav__lien:hover {
  font-weight: bold;
}
.main {
  height: 100%;
}
.main__titre {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.main__section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__article {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 0.5rem;
  margin: 0 1rem 2rem;
  padding: 1.5rem;
}
#cameraImg {
  width: 100%;
}
.main__camera {
  display: flex;
  justify-content: center;
}
.main__image {
  width: 90%;
  border-radius: 0.5rem;
  padding-top: 1rem;
}
.article__camera {
  display: flex;
  flex-direction: column;
}
.article__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}
.article__nom {
  margin-top: 1.2rem;
  padding-left: 0.5rem;
}
.article__prix {
  font-weight: bold;
  background-color: #e4dfd2;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: black;
}
.article__description {
  font-weight: 400;
  color: black;
  font-family: "neucha";
  text-align: justify;
}

.footer {
  background-color: #b14a0c;
  width: 100%;
  margin-top: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.footer__liste {
  list-style-type: none;
  color: #e4dfd2;
  font-family: "neucha";
  line-height: 2rem;
  font-size: 1.5rem;
}
.footer__social {
  color: #e4dfd2;
  font-size: x-large;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 3rem;
  margin-top: 2rem;
}
.fas {
  margin-right: 1rem;
}
.fas,
.fab {
  margin-bottom: 1rem;
}
