$color-background: #f3e9f1;
$color-primary: #905afe;
$color-secondary: #af6ca4;
$color-tertiary: #e1871a;
$color-text: #261624;

$font-family-titre:

$tablet-breakpoints: 600px;
$desktop-breakpoints: 1200px;
$large-screen-breakpoints: 1450px;
